doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Продвинутая верстка джс 3: сайт на Pug
        link(rel="stylesheet" href="../css/style.css")
    body
        -var games = [{title: 'RDR 2', releaseDate: '26.10.2018'}, {title: 'Minecraft', releaseDate: '18.11.2011'}, {title: 'Portal 1', releaseDate: '10.10.2007'}, {title: 'half-Life 2', releaseDate: '16.11.2004'}, {title: 'Left 4 Dead 2', releaseDate: '17.11.2009'}, {title: 'Party Hard', releaseDate: '25.08.2015'}, {title: 'People Playground', releaseDate: '23.07.2019'}, {title: 'Crypto Mining Simulator', releaseDate: 'В разработке'}]

        .container
            h1.title Мои любимые игры
            p.text Компьютерные игры — это уникальное искусство, которое сочетает в себе элементы рассказа, графики, музыки и интерактивности. Они позволяют игрокам погружаться в фантастические миры, переживать неожиданные события и принимать важные решения, влияющие на ход игры. Благодаря разнообразию жанров — от стратегий и ролевых игр до аркад и симуляторов — каждый может найти что-то по душе, а я нашёл:
            ul.grid
                each card_ in games
                    li.grid__item
                        article.card
                            a.card__image(href='#')
                                img(src=`../img/${card_.title}.png`)
                            h2.card__title
                                 a(href='')= card_.title
                            span.card__date= "Дата выхода: " + card_.releaseDate